*.suo
*.user
BasicProject/MvcAngular.Web/bin/
BasicProject/MvcAngular.Web/obj/
SimpleRouting/MvcAngular.Web/bin/
SimpleRouting/MvcAngular.Web/obj/
CRUDOperations/MvcAngular.Web/bin/
CRUDOperations/MvcAngular.Web/obj/
/.idea
