
    <div class="hero-unit">
        <h1>About -- Simple Routing</h1>
        <p>Version Number: {{version}}</p>
        <p>Window is {{windowHeight}}px tall by {{windowWidth}}px wide.</p>
    </div>
