@{
    ViewBag.Title = "Index";
}

<div class="container" ng-app="myApp" ng-controller="PageCtrl">

    <div class="row">
        <div class="span6">
            <h2>Home Page</h2>
            <p>
                Hello {{name}}!
            </p>
            <p>
                View <a href="@Url.Action("Bootstrap")"><i class="icon-twitter"></i> Bootstrap</a> template page.
            </p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Company 2012</p>
    </footer>

</div> <!-- /container -->

@section scripts {
    <script src="@Url.Content("~/Scripts/app/homeIndex.js")" type="text/javascript"></script>
}
